.similarProductCard {
  /* width: 1832px;
  height: 934px; */
  margin: 24px 0px;
  background: #ffffff;
  /* Medium shadow */

  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 24px;
}

.similarProductCard p {
  font-weight: normal;
  font-size: 23px;

  /* font-family: Poppins; */
}

.similarproductDetails {
  /* width: 1517px; */
  /* height: 102px; */
  margin: 0px 16px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
}

.similarproductDetails p {
  font-size: 23px;
}

.similarProductsWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
}

/* .btnSearch{
    width: 246px;
height: 36px;
} */

.productdetailSlider {
  /* width: 1779px;
  height: 768px; */
  /* margin: 16px 0px; */
  background: #dadfe5;
  border-radius: 8px;
  padding: 24px;
  /* padding-left: 24px; */
  /* padding-top: 24px; */
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
}

.productdetailCard {
  /* width: 521px;
  height: 720px; */
  background: #ffffff;
  /* Med Shadow */

  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  /* margin: 0px 24px; */
  margin-right: 32px;
  padding: 0px 0px;
  /* padding-top: 350px; */
}

.detailsDiv {
  /* width: 473px;
  height: 294px; */
  /* margin: 16px 0px; */
  padding: 0px 24px;
  /* padding-left: 24px; */
}

.detailsDiv .productName {
  /* width: 473px;
  height: 44px; */
  font-size: 33px;
  margin: 16px 0px;
  color: #001661;
}

.detailsDiv .productDescription {
  font-weight: 500;
  font-size: 19px;
  margin: 16px 0px;
}

.detailsDiv .productPrice {
  /* width: 353px;
  height: 69px; */
  font-size: 46px;
  color: #4b7026;
}

.detailsDiv .priceSymbol {
  color: #4b7026;
  /* width: 22px;
  height: 33px; */
}

.detailsDiv .productSoldby {
  font-weight: 500;
  font-size: 19px;
  color: #121417;
  margin-top: 16px;
}

.detailsDiv .productSeller {
  color: #001661;
  font-weight: normal;
  font-size: 23px;
  margin-bottom: 16px;
}

.openPortal {
  /* width: 473px;
  height: 36px; */
  padding: 8px 16px;
  /* margin: 26px 0px; */
  margin: 12px;
  background: #416bff;
  border-radius: 4px;
  align-items: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

.openPortal a {
  font-weight: 500;
  font-size: 12px;
  color: white;
  margin-left: 11px;
}

.openinIcon {
  /* width:12px; */
  /* height:12px; */
  /* margin:0px 6px; */
  font-size: 16px;
  padding: 0px 2px;
}


/*			
Copyright (C) 2022 Eunimart Omnichannel Pvt Ltd. (www.eunimart.com)			
All rights reserved.			
This program is free software: you can redistribute it and/or modify			
it under the terms of the GNU General Public License as published by			
the Free Software Foundation, either version 3 of the License, or			
(at your option) any later version.			
This program is distributed in the hope that it will be useful,			
but WITHOUT ANY WARRANTY; without even the implied warranty of			
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the			
GNU General Public License for more details.			
You should have received a copy of the GNU General Public License			
along with this program. If not, see <http://www.gnu.org/licenses/>.			
*/