.accountingDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 16px 0px;
}

.accountingDetails_header {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: #121417;
  margin: 16px 0px;
}

.accountingDetails_form {
  display: flex;
  width: 100%;
}

.accountingDetails_form_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 32px 0 0;
  width: 100%;
}

.accountingDetails_form_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 0 0 32px;
  width: 100%;
}

.accountingDetails_form_right_dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.accountingDetails_form_right_dropdown_label {
  width: 270px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #000000;
}
.attr-checkbox {
  margin: 15px 0px;
}

.mrpLabelInputWrapper {
  display: flex;
  padding: 0px;
  margin: 8px 0px;
  align-items: baseline;
  width: 100%;
}

.mrpLabelInputWrapper span {
  font-size: 12px;
  padding: 3px;
  color: red;
}
.mrpLabelInputWrapper .labelWrap {
  width: 30% !important;
}
.mrpLabelWrap {
  width: 100%;
}
.prod-packing-row .input_main_wrapper {
  width: 45% !important;
  margin-top: 15px !important;
}
.prod-packing-row .input_main_wrapper .inputWrapper {
  display: flex;
  width: 100% !important;
}
/*
 Copyright (C) 2022 Eunimart Omnichannel Pvt Ltd. (www.eunimart.com)
 All rights reserved.
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License v3.0 as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Lesser General Public License v3.0 for more details.
 You should have received a copy of the GNU Lesser General Public License v3.0
 along with this program.  If not, see <https://www.gnu.org/licenses/lgpl-3.0.html/>.
*/