.companyHeading {
  display: flex;
  justify-content: space-between;
}

.edit_button {
  background: #416bff;
  border-radius: 4px;
  padding: 8px 16px;
  color: white;
  height: fit-content;
}

.AllAddress {
  width: 100%;
  display: flex;
  overflow: auto;
  padding: 20px;
}

.save_button {
  background: #416bff;
  border-radius: 4px;
  padding: 8px 16px;
  color: white;
  margin-left: 20px;
}

.cancel_button {
  color: #416bff;
  background-color: white;
}

.Modal {
  margin-left: 220px;
  width: 80%;
  padding: 50px;
  /* border: 1px solid red; */
  background-color: #ffffff;
}

.editAddress {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editAddress p {
  font-size: 24px;
  font-weight: 500;
}

.divAlign {
  display: flex;
  justify-content: space-between;
}

.LeftAddressDiv {
  display: flex;
  flex-direction: column;
}

.LeftAddressDiv div {
  display: flex;
  padding: 8px;
}

.LeftAddressDiv input {
  margin-left: 20px;
}

.alignBtn {
  display: flex;
  justify-content: flex-end;
  padding: 30px 10px;
}
.alignBtn button {
  margin-left: 20px;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #416bff;
}

.ssaSearchResults {
  display: flex;
  flex-wrap: wrap;
}

.ssaFormBlock2 {
background: #fff;
border-radius: 4px;
border-radius: 8px;
}

.ssaResult{
  border:2px double blue;
  padding: 8px;
  border-radius:10px;
}


/*			
Copyright (C) 2022 Eunimart Omnichannel Pvt Ltd. (www.eunimart.com)			
All rights reserved.			
This program is free software: you can redistribute it and/or modify			
it under the terms of the GNU General Public License as published by			
the Free Software Foundation, either version 3 of the License, or			
(at your option) any later version.			
This program is distributed in the hope that it will be useful,			
but WITHOUT ANY WARRANTY; without even the implied warranty of			
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the			
GNU General Public License for more details.			
You should have received a copy of the GNU General Public License			
along with this program. If not, see <http://www.gnu.org/licenses/>.			
*/