.pTcommonTable {
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
  border-radius: 4px;
}
/* .pTtbody {
} */

.pTheader {
  /* border-radius: 4px; */
  width: 100%;
  white-space: nowrap;
  background: #e7f0fd;
  height: 50px;
}

.pTtableHeading {
  padding: 8px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  background: #e7f0fd;
  text-align: center;
}

/* .pTTablecontainer {
} */

.pTTableTr {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  height: 42px;
}

.pTTableTr:hover {
  background: rgba(230, 235, 253, 0.5);
  height: 50px;
}

.pTTableTd {
  height: 50px;
  line-break: anywhere;
  /* line-height: 31px; */
  padding: 8px;
  /* overflow: hidden; */
  text-align: center;
  font-size: 14px;
  word-break: break-word;
}
.pTtrSelected {
  cursor: pointer;
  height: 42px;
  background: rgba(219, 226, 252, 0.7);
}

.pTtrSelected:hover {
  cursor: pointer;
  height: 42px;
  background: rgba(219, 226, 252, 0.7);
}

.pTfooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding-right: 20px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1);
  background: white;
}

.pTrowPerpage {
  /* margin-left: 76%; */
  font-size: 12px;
  /* margin-top: 20px  */
}

.pTselectOption {
  /* width: 89px; */
  padding: 4px 16px 4px 16px;
  /* height: 34px; */
  margin-left: 1%;
  border: 1px solid #6a7381;
  box-sizing: border-box;
  border-radius: 4px;
  /* margin-top: 15px; */
}

.pTpages {
  margin-left: 1%;
  font-size: 12px;
}

.tableImage {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.subTable {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.actionIcon {
  cursor: pointer;
  color: #416bff;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
  left: 835px;
}

::-webkit-scrollbar-thumb {
  background: #b9b9b9;
}

::-webkit-scrollbar-thumb:hover {
  background: #b9b9b9;
}

.checkmark {
  height: 12px;
  width: 12px;
  background-color: white;
  border: 2px solid #001661;
}

input ~ .checkmark {
  color: #001661;
}

input:checked ~ .checkmark {
  background-color: white;
}

.Tablecontainer {
  display: flex;
  position: relative;
  margin: 0px 10px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Hide the browser's default checkbox */
.Tablecontainer input {
  /* position: absolute; */
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  margin-bottom: 25px;
}

/* Show the checkmark when checked */
.Tablecontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.pTTablecontainer .checkmark:after {
  left: 3px;
  top: 1.5px;
  width: 1.5px;
  height: 5px;
  border: solid #001661;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.tableHeading {
  width: 298.33px;
}

.coralBadge {
  background: #4093b5;
}

.lens_Acceptedicon {
  font-size: 16px;
  color: #416bff;
  margin-right: 5px;
}

.lens_Packedicon {
  font-size: 16px;
  color: rgb(255, 174, 0);
  margin-right: 5px;
}

.lens_Shippedicon {
  font-size: 16px;
  color: #ff417a;
  margin-right: 5px;
}
.lens_Deliveredicon {
  font-size: 16px;
  color: #36db3e;
  margin-right: 5px;
}

.lens_Rejectedicon {
  font-size: 16px;
  color: #ccccce;
  margin-right: 5px;
}
.lens_Cancelledicon {
  font-size: 16px;
  color: #ff4141;
  margin-right: 5px;
}
.lens_Returnedicon {
  font-size: 16px;
  color: #751c1c;
  margin-right: 5px;
}
.oderStatusWrap {
  display: flex;
  align-items: center;
}

.content_with_img {
  display: flex;
  align-items: center;
}

.content_img {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  margin-right: 5px;
}

.pnameField {
  display: flex;
  flex-direction: row;
}
.pTtableHeading.pcheckBox {
  width: 50px !important;
  padding: 8px 5px;
}
.pTTableTd.pcheckBox {
  width: 50px !important;
  padding: 8px 5px;
}

/*
 Copyright (C) 2022 Eunimart Omnichannel Pvt Ltd. (www.eunimart.com)
 All rights reserved.
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License v3.0 as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Lesser General Public License v3.0 for more details.
 You should have received a copy of the GNU Lesser General Public License v3.0
 along with this program.  If not, see <https://www.gnu.org/licenses/lgpl-3.0.html/>.
*/