@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

/* *{
  overflow: hidden;
  font-family: Inter !important;
} */
.bot_pic {
  overflow: hidden;
}

.MuiList-root {
  overflow: hidden;
  font-family: Inter !important;
}

.App {
  text-align: center;
}

body {
  font-family: Inter !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

input#emailErrorMessage {
  color: #FF0000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
    position: absolute;
    bottom: -90%;
    /* position: absolute;
    left: 50%;
    top: 50%; */
    /* left: 33%;
    top: 80%; */
    /* position: absolute; */
  }

  25% {
    transform: scale(1, 1);
    position: absolute;
    bottom: 0%;
  }

  50% {
    transform: scale(1, 1);
    position: absolute;
    /* transform: scale(1.1, 1.1); */
    /* position: absolute;
    left: 50%;
    top: 50%; */
    /* left: 33%;
    position: absolute;
    top: 18%; */
    bottom: 3%;
  }

  75% {
    transform: scale(1.1, 1.1);
    position: absolute;
    /* position: absolute;
    left: 50%;
    top: 50%; */
    /* left: 33%;
    top: 80%; */
    /* position: absolute; */
    bottom: 6%;
  }

  100% {
    transform: scale(1, 1);
    position: absolute;
    /* position: absolute;
    left: 50%;
    top: 50%; */
    /* position: absolute;
    left: 33%; */
    /* top: 18%; */
    bottom: 6%;
  }
}

.button_wrapper {
  width: 90%;
  overflow: initial;
}

.form-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: initial;
}

.loginDiv {
  /* 0.5s ease 0.25s forwards; */
  animation: zoom-in-zoom-out ease-in 1.5s;
  /* left: 33%;
  top: 18%; */
  /* position: absolute; */
  /* width: 444px; */
  width: auto;
  /* left: 50%; */
  height: auto;
  /* height: 617px; */
  box-shadow: 12px 12px 45px rgba(0, 0, 0, 0.15);
  padding: 36px;
  /* padding-bottom: 0px !important; */
  /* position: absolute; */
  /* left: 46.5%; */
  /* top: 49.2%; */
  background-color: white;
  /* -webkit-transform: translate(-50%, -50%); */
  /* transform: translate(-50%, -50%); */
  border-radius: 24px;
  z-index: 99;
  /* padding-top: 24px !important; */
}

.main_wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  justify-content: center;
}

.login-wrapper {
  /* background-image: url("../src/Assets/Images/login.gif.gif"); */
  /* background-image: url("../src/Assets/Images/loginGif.json"); */
  /* position: absolute;
width: 1920px;
height: 1080px; */
  /* position: absolute; */
  width: 100%;
  height: 100%;
}

button.social-signin {
  margin-bottom: 20px;
  box-shadow: 4px 4px 16px rgb(0 0 0 / 10%);
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.twitter {
  background: #1DA1F2;
  width: 100%;
  height: 54px;
  /* margin-left: 48px;
  margin-top: 1rem; */
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 4px;
}

.verify-otp-button {
  background-color: white;
}

.edit-bar-bottom {
  background: linear-gradient(90deg, #00C0ED 0%, #FA64A9 50.31%, #FABA1E 100%);
}

.edit-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.social-signin.otp {
  background: #1DA1F2;
  width: 374px;
  height: 54px;
  margin-left: 48px;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 4px;
}

button.social-signin.linkdln {
  background: #0077B5;
  width: 100%;
  height: 54px;
  /* margin-left: 48px;
  margin-top: 16px !important; */
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 4px;
}

.form-control-inline {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px !important;
  height: 52px !important;
  justify-content: center;
  padding-left: 10px;
}

button.social-signin.google {
  box-shadow: "4px 4px 16px rgba(0, 0, 0, 0.1)";
  /* background: white; */
  background: #D3E2FB;
  color: black;
  width: 100%;
  height: 54px;
  margin-top: 36px;
  /* margin-left: 48px;
  margin-top: 16px !important; */
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 4px;
}

.registerHeading {
  margin-top: 0px;
  background-image: url("../src/Assets/Images/eunimart_login_image.png");
  width: 256px;
  height: 182px;
  display: flex;
  justify-content: center;
  /* color: #416bff;
  font: Poppins;
  margin-top: 1%;
  font-size: 23px; */
}

.registerInput {
  height: 48px;
  width: 285px;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  padding-left: 5%;
  border: 0.5px solid #2e2e2e;
  border-radius: 4px;
  display: flex;
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin: 1rem auto 1rem auto;
}

.errorMessage {
  /* margin-left: 2rem; */
  color: red;
  font-size: 13px;
}

.loginbtn {
  width: 296px;
  height: 40px;
  margin: 0px 33px;
  background: #416bff;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.otherOptions {
  color: #416bff;
  margin-top: 5%;
  justify-content: center;
  display: flex;
}

/* sidebar */
.sidebar {
  background: #001661;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  min-width: 180px;
  max-width: 180px;
  position: fixed;
  height: 100vh;
  transition: all 0.2s;
  z-index: 11;
}

.logobrand img {
  max-width: 100%;
}

.logobrand {
  background-color: #fff;
  text-align: center;
  display: block;
  /* width: 100%; */
  /* width: 100px; */
  height: 56px;
  overflow: hidden;
  padding: 10px;
}

.mainnav {
  width: 100%;
}

.mainnav li {
  position: relative;
}

.mainnav ul>li:hover>a {
  background: rgba(255, 255, 255, 0.08);
}

.sidebar a {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #54dfff;
  padding: 8px 8px 8px 16px;
  display: block;
}

.mainnav li ul {
  position: absolute;
  left: 180px;
  width: 280px;
  background: #001661;
  border-radius: 8px;
  display: none;
  /* padding: 8px 0px; */
  top: 0;
}

.mainnav li ul li:first-child {
  margin-top: 8px;
}

.mainnav li ul li:last-child {
  margin-bottom: 8px;
}

.mainnav li:hover ul {
  display: block;
}

.sidebar a:hover {
  background: rgba(255, 255, 255, 0.08);
}

.sidebar a:focus {
  color: #ffffff;
}

.sidebar a span {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #001661;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #001661;
}




























/* chatbot styles */


.App1 {
  text-align: center;
}

.App-logo1 {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo1 {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header1 {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link1 {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.textWrapper1 {
  position: fixed;
  bottom: 8%;
  right: 10%;
  /* width: 60%; */
  text-align: left;
  color: white;
  border-radius: 50px 0 0 50px;
  width: 261px;
  height: 79px;
  text-align: left;
  background: white;
  color: black;
  transition: 0.5s ease;
  box-shadow: 0 0 4px #ccc;
  width: 0;
  overflow: hidden;
  /* background: red; */
  -moz-animation: slide 1s ease 3.5s forwards;
  -webkit-animation: slide 1s ease 3.5s forwards;
  -o-animation: slide 1s ease 3.5s forwards;
  -ms-animation: slide 1s ease 3.5s forwards;
  animation: slide 1s ease 3.5s forwards;
  /* display: none; */
}

.bot_cirlce1 {
  width: 108px;
  position: absolute;
  height: 108px;
  /* left: 200px; */
  /* top: 0px; */
  bottom: 6%;
  right: 5%;
  border-radius: 50%;
  background: #ffffff;
  /* box-shadow: 0px 8px 16px rgb(0 0 0 / 15%); */
  /* border: 5px solid rgb(65, 107, 255); */
  border: 5px solid #ffffff;
  cursor: pointer;
}

.bot_cirlce1:hover .textWrapper1 {
  display: block !important;
}

.deactive_bot1 {
  display: flex;
  align-items: center;
}

.eunimart_logo1 {
  /* vertical-align: middle; */
  width: 106px;
  position: relative;
  width: 108px;
  position: absolute;
  /* height: 108px; */
  /* left: 200px; */
  /* top: 0px; */
  bottom: -5%;
  right: -6%;
  border-radius: 50%;
  /* background: #ffffff; */
  box-shadow: 0px 8px 16px rgb(0 0 0 / 15%);
  /* border: 5px solid rgb(65, 107, 255); */
  cursor: pointer;
  /* border-radius: 50px; */
}

.textWrapper1 {
  /* height: 100px; */
  width: 0;
  overflow: hidden;
  /* background: red; */
  -moz-animation: slide 0.5s ease 0.25s forwards;
  -webkit-animation: slide 1s ease 3.5s forwards;
  -o-animation: slide 1s ease 3.5s forwards;
  -ms-animation: slide 1s ease 3.5s forwards;
  animation: slide 0.5s ease 0.25s forwards;
}

.chatbot_top_text {
  font-size: 20px;
  font-weight: 500;
}

.chatbot_top_text1 {
  font-weight: 500;
}

.chatbot_top_text_sec2 {
  font-size: 12px;
}

@-moz-keyframes slide

/* Firefox */
  {
  from {
    width: 0;
  }

  to {
    width: 220px;
  }
}

@-webkit-keyframes slide

/* Safari and Chrome */
  {
  from {
    width: 0;
  }

  to {
    width: 220px;
  }
}

@-o-keyframes slide

/* Opera */
  {
  from {
    background: red;
  }

  to {
    background: yellow;
  }
}

@-ms-keyframes slide

/* IE10 */
  {
  from {
    width: 0;
  }

  to {
    width: 220px;
  }
}

@keyframes slide {
  from {
    width: 0;
  }

  to {
    width: 220px;
  }
}

/*
 Copyright (C) 2022 Eunimart Omnichannel Pvt Ltd. (www.eunimart.com)
 All rights reserved.
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License v3.0 as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Lesser General Public License v3.0 for more details.
 You should have received a copy of the GNU Lesser General Public License v3.0
 along with this program.  If not, see <https://www.gnu.org/licenses/lgpl-3.0.html/>.
*/