.inputGeneratorWrapper {
  background: #ffffff;
  /* Medium shadow */

  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  /* width: 1827px; */
  height: 306px;
  padding: 24px;
  margin: 24px 0px;
  margin-bottom: 24px;
}

.inputgeneratorHeading {
  /* width: 1779px; */
  height: 37px;
  padding: 0px;
  margin: 16px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputgeneratorHeading p {
  font-weight: 500;
  font-size: 19px;
  margin: 0px 16px;
}

.keywordsWrap {
  /* width: 1779px; */
  height: 194px;
  /* border-radius: 4px; */
  margin: 16px 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  white-space: initial;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.keywordsWrap label {
  margin: 0px 16px;
  width: 207px;
  height: 48px;
  font-weight: 500;
  /* margin: 0px 16px; */
}

.textareaKeywords {
  /* width: 1556px;
height: 194px;
border: 0.5px solid #5D5D5D; */
  border-radius: 4px;
  margin-right: 24px;
  outline: none;
  resize: none;
  margin-bottom: 35px;
  display: flex;
  /* flex-direction: row; */
  padding-top: 15px;
  padding-left: 16px;
  /* text-overflow: inherit; */
  /* white-space:nowrap; */
  white-space: initial;
  /* word-wrap: break-word; */
  flex-wrap: wrap;
  /* overflow-wrap: break-word; */
  /* overflow-x: inherit; */
}

.keywordContainer {
  border-radius: 4px;
  /* width: 1556px; */
  height: 194px;
  border: 0.5px solid #000;
}

/*			
Copyright (C) 2022 Eunimart Omnichannel Pvt Ltd. (www.eunimart.com)			
All rights reserved.			
This program is free software: you can redistribute it and/or modify			
it under the terms of the GNU General Public License as published by			
the Free Software Foundation, either version 3 of the License, or			
(at your option) any later version.			
This program is distributed in the hope that it will be useful,			
but WITHOUT ANY WARRANTY; without even the implied warranty of			
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the			
GNU General Public License for more details.			
You should have received a copy of the GNU General Public License			
along with this program. If not, see <http://www.gnu.org/licenses/>.			
*/
