.product_varient {
  width: 500px px;
  /* width: 330px; */
  /* height: 120px; */
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  margin-right: 10px;
  border: 2px solid #ffffff;
  max-height: max-content;
  max-width: 240px;
}
.product_varient_active {
  width: 500px px;
  /* width: 330px; */
  /* height: 120px; */
  background-color: #f9f9f9;
  border-radius: 5px;
  display: flex;
  margin-right: 10px;
  border: 2px solid #ffffff;
  max-height: max-content;
  max-width: 240px;
  border: 2px solid #5d71d7;
}

.product_varient:hover {
  border: 2px solid #5d71d7;
}
.product_images_wrapper {
  display: flex;
  width: 250px;
}
.product_varient_img {
  width: 40%;
  padding: 5px;
}

.product_varient_info {
  width: 250px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-left: 5px;
}
img {
  border: none;
  border-radius: 4px;
}

.product_varient_title {
  display: flex;
  width: 90%;
}

.title {
  float: left;
  font-size: 13px;
  margin: 5px 0px 12px 0px;
  text-align: justify;
  font-weight: 500;
}

.product_varient_tags {
  /* text-align: center!important; */
  background-color: #0caedd;
  text-align: center;
  font-size: 10px;
  color: #000;
  /* width: 40px; */
  border-radius: 4px;
  margin: 5px 0px;
  padding: 2px;
}
.products_product_image {
  width: 100%;
}


/*			
Copyright (C) 2022 Eunimart Omnichannel Pvt Ltd. (www.eunimart.com)			
All rights reserved.			
This program is free software: you can redistribute it and/or modify			
it under the terms of the GNU General Public License as published by			
the Free Software Foundation, either version 3 of the License, or			
(at your option) any later version.			
This program is distributed in the hope that it will be useful,			
but WITHOUT ANY WARRANTY; without even the implied warranty of			
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the			
GNU General Public License for more details.			
You should have received a copy of the GNU General Public License			
along with this program. If not, see <http://www.gnu.org/licenses/>.			
*/