.mdm-inventoryGrid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 10px;
    margin: 10px 0px;
    /* max-height: 73vh; */
    overflow: auto;
    padding: 10px;
    background-color: #f5f5f5;
    overflow-x: hidden;
  }
  .mdm-inventoryGrid .eucommonCardTopImgWrapper {
    min-height: 100%;
    min-width: 100%;
  }
  
  .viewProductTable {
    background-color: #F9F9F9;
  }
  
  
    .tab_header_location {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      margin-bottom: 10px;
      font-weight: 500;
  }
  
  .sectionDetails_header {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    letter-spacing: 0.15px;
    color: #121417;
     margin-top: 10px; 
  }
  
  
  
  @media screen and (max-width: 1300px) {
    .mdm-inventoryGrid {
      /* grid-template-columns: 33.33% 33.33% 33.33%; */
    }
    .mdm-inventoryGrid .eucommonCardTopImgWrapper {
      min-height: 100%;
      padding: 10px;
      min-width: 100%;
      align-items: center;
    }
  }
  @media screen and (max-width: 900px) {
    .mdm-inventoryGrid {
      grid-template-columns: 50% 50%;
    }
  }

  /*			
Copyright (C) 2022 Eunimart Omnichannel Pvt Ltd. (www.eunimart.com)			
All rights reserved.			
This program is free software: you can redistribute it and/or modify			
it under the terms of the GNU General Public License as published by			
the Free Software Foundation, either version 3 of the License, or			
(at your option) any later version.			
This program is distributed in the hope that it will be useful,			
but WITHOUT ANY WARRANTY; without even the implied warranty of			
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the			
GNU General Public License for more details.			
You should have received a copy of the GNU General Public License			
along with this program. If not, see <http://www.gnu.org/licenses/>.			
*/