.heightDefineDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 89vh; */
}

#productStepper {
  display: flex;
  flex-direction: column;
  /* padding: 16px; */
  background: #f9f9f9;
}

.stepper_steps {
  display: flex;
}

.stepper_steps > div {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.15px;
  color: #2e2e2e;
}

.stepper_step {
  width: 100%;
  position: relative;
  background: #dadfe5;
  margin-left: 5px;
  border-radius: 4px;
  padding: 11.5px 11.5px 11.5px 30.5px !important;
}

.stepper_step_active {
  background: #416bff;
  color: #ffffff !important;
}

.stepper_step:first-child {
  margin-left: 0;
}

.stepper_step:first-child::after {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #dadfe5;
  border-top: 25px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 5;
}

.stepper_step_active:first-child::after {
  border-left: 20px solid #416bff;
}

.stepper_step:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid white;
  border-top: 25px solid transparent;
  border-bottom: 20px solid transparent;
}

.stepper_step:before {
  content: "";
  position: absolute;
  right: -18px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #dadfe5;
  border-top: 25px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 2;
}

.stepper_step:last-child::before {
  right: 0;
  z-index: 2;
}

.stepper_step_active::before {
  border-left: 20px solid #416bff;
}


/*			
Copyright (C) 2022 Eunimart Omnichannel Pvt Ltd. (www.eunimart.com)			
All rights reserved.			
This program is free software: you can redistribute it and/or modify			
it under the terms of the GNU General Public License as published by			
the Free Software Foundation, either version 3 of the License, or			
(at your option) any later version.			
This program is distributed in the hope that it will be useful,			
but WITHOUT ANY WARRANTY; without even the implied warranty of			
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the			
GNU General Public License for more details.			
You should have received a copy of the GNU General Public License			
along with this program. If not, see <http://www.gnu.org/licenses/>.			
*/