.locationDetailsMain {
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 24px;
  margin: 16px 0px;
  font-family: Poppins;
  border-radius: 8px;
}
.staticFormCardTitle {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: #121417;
  /* padding: 16px 0px; */
}

.product-staticFormCardForm {
  display: grid;
  grid-gap: 8px 30px;
  grid-template-columns: 49% 49%;
  align-items: center;
  margin-top: 16px;
}

.buttonWrapper {
  display: flex;
  padding: 0px;
  margin: 8px 0px;
}
.btnLabelWrap {
  padding: 12px 32px 12px 0px;
}

.product-checkboxFieldMain {
  display: flex;
  padding: 0px;
  align-items: center;
  /* margin: 8px 0px; */
}

.product-checkboxFieldSub {
  /* display: flex;
  justify-content: start;
  align-items: center; */
  width: 100%;
  margin-top: 4px;
}

.checkboxLabelWrap {
  padding: 12px 0px 12px 0px;
  width: 31%;
  display: flex;
  align-items: center;
}
.product_required_mark {
  color: #ff0000;
  font-size: 16px;
  margin-left: 4px;
  font-weight: 600;
}
.radioLabelWrap {
  padding: 12px 0px 12px 0px;
  width: 30%;
  display: flex;
  align-items: center;
}
.product-checkboxFieldMain .product-checkboxFieldSub input[type="radio"] {
  height: 15px;
}

.input_disabled {
  margin: 0px !important;
}


/*			
Copyright (C) 2022 Eunimart Omnichannel Pvt Ltd. (www.eunimart.com)			
All rights reserved.			
This program is free software: you can redistribute it and/or modify			
it under the terms of the GNU General Public License as published by			
the Free Software Foundation, either version 3 of the License, or			
(at your option) any later version.			
This program is distributed in the hope that it will be useful,			
but WITHOUT ANY WARRANTY; without even the implied warranty of			
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the			
GNU General Public License for more details.			
You should have received a copy of the GNU General Public License			
along with this program. If not, see <http://www.gnu.org/licenses/>.			
*/