.packingDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 32px 0px;
}

.estimatedcost {
  width: 100%;
}

.packingDetailsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.companyHeading {
  display: flex;
  justify-content: space-between;
}


.createContactFooter {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 8px;
  background: white;
}

.createContactFooter_preBtn {
  margin: 0px 8px;
  border-radius: 4px;
  cursor: pointer;
  /* font-family: Inter Neue; */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #416bff;
  background-color: transparent;
  border: none;
}

.createContactFooter_nextBtn {
  padding: 6px 30px;
  background: #416bff;
  border-radius: 4px;
  margin: 0px 8px;
  /* font-family: Inter Neue; */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.walletWrapper {
  display: flex;
  justify-content: space-between;
  margin: 16px 0px;
  width: 100%;
}

.walletBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
}

.walletBody_head {
  /* font-family: Poppins; */
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 34px;
  color: #2e2e2e;
  margin: 6px 0px;
}

.walletBody_text {
  /* font-family: Inter Neue; */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #2e2e2e;
  margin: 6px 0px;
}

.wallet {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  background: #f9f9f9;
  border-radius: 4px;
  margin-left: 24px;
}

.wallet_rechgBtn {
  padding: 8px 16px;
  background: #416bff;
  border-radius: 4px;
  /* font-family: Inter Neue; */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.wallet_balance {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: #2e2e2e;
  margin: 6px 0 12px;
}

.wallet_balance_amt {
  margin: 0px 24px;
}

.self_walletBody {
  width: 100%;
  margin-right: 32px;
}

.self_wallet {
  width: 100%;
  margin-left: 32px;
}

.self_walletWrapper {
  display: flex;
  width: 100%;
}

.awbInput {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 20px auto;
  width: 50%;
}

.awbBtn {
  margin: 20px;
}

.DateTime {
  display: flex;
}

/*
 Copyright (C) 2022 Eunimart Omnichannel Pvt Ltd. (www.eunimart.com)
 All rights reserved.
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Lesser General Public License v3.0 as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Lesser General Public License v3.0 for more details.
 You should have received a copy of the GNU Lesser General Public License v3.0
 along with this program.  If not, see <https://www.gnu.org/licenses/lgpl-3.0.html/>.
*/