.circleBtn {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin: 5px;
  border: none;
  background-color: rgb(11, 252, 31);
}
/* .chatBot-wrapper {
  animation: slideUp 0.5s ease 0.5s forwards;
} */

.msginp {
  width: 100%;
  height: 55px;
  border-radius: 50px 50px 50px 50px;
  margin-top: 5px;
  margin-left: 5px;
  border: none;
  padding-left: 10px;
}

.cola {
  height: 65px;
  width: 65px;
  padding-left: 0px;
}
.msgalignend {
  display: flex;
  justify-content: flex-end;
  margin-top: 6px;
 
}
.msgalignstart {
  display: flex;
  justify-content: flex-start;
  min-height: 5px;
  margin-top: 6px;
}

.botmsg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding: 12px; */

  position: static;
  /* width: 202px;
  height: 80px; */
  font-size: 12px;
  left: 0px;
  top: 0px;
  text-align: left;
  /* Primary Colors/ pure white */

  background: #ffffff;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  max-width: 210px;
  /* box-shadow: 0 0 4px #ccc;
  border-radius: 8px 8px 0px 8px; */
}

.usermsg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  font-weight: 500;

  position: static;
  /* width: 202px;
  height: 80px; */
  font-size: 12px;
  left: 0px;
  top: 0px;
  text-align: left;
  /* Primary Colors/ pure white */

  background: #ffffff;
  /* background: rgba(222, 228, 253, 0.75); */
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 4px;
  max-width: 210px;
  box-shadow: 0 0 4px #ccc;
  border-radius: 8px 8px 0px 8px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(65, 107, 255);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(99, 129, 238);
}

.botIcon {
  font-size: 45px;
  /* border: 1px solid black; */
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  position: relative;
  top: 10px;
}

.userIcon {
  font-size: 40px;
  /* border: 1px solid black; */
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  /* position: static; */
  width: 30px;
  height: 30px;
  /* left: 255px; */
  /* top: 110px; */
  background: #c4c4c4;
  flex: none;
  order: 2;
  flex-grow: 0;
  position: relative;
  top: 15px;
  margin: 0px 4px;
}

.sendBtn {
  font-size: 25px;
}
.row.msgarea {
  overflow-y: scroll;
}
.cardBody {

  padding-top: 10px;
  height: 28rem;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 12px 0px 12px 12px;
  position: static;
  width: 420px;
  height: 439px;
  left: 0px;
  top: 97px;
  background: rgba(239, 242, 254, 0.5);
  flex: none;
  /* order: 1; */
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px;
}
.cardFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;

  position: static;
  width: 420px;
  height: 64px;
  left: 0px;
  top: 536px;
  padding: 0px;
  /* Secondry Button/Pressed Fill */

  background: rgba(222, 228, 253, 0.5);
  border-radius: 0px 0px 8px 8px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}
.row_footer {
  width: 100%;
}
.text_input {
}
.footer_wrapper {
  width: 420px;
  padding: 12px;
  display: flex;
}
.type_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px 8px 16px;
  position: static;
  width: 70%;
  height: 40px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border: 0.5px solid #b9b9b9;
  border-radius: 4px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px;
}
.button_wrappers {
}
.send_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  position: static;
  width: 40px;
  height: 40px;
  left: 312px;
  top: 0px;
  background: rgba(239, 242, 254, 0.75);
  border-radius: 50px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: none;
  color: #5d5d5d;
}
.bot_pic {
  position: static;
  width: 49px;
  height: 49px;
  left: 0px;
  top: 0px;
  border-radius: 50px;
  /* background: #ffffff; */

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 8px;
}
.bot_logo {
  position: static;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  border-radius: 50px;
  /* background: #ffffff; */

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  /* margin: 0px 8px; */
}


.bot_logo1 {
  position: static;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  border-radius: 50px;
  /* background: #ffffff; */

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  /* margin: 0px 8px; */
}

.Bot_logo2 {
  position: static;
  width: 49px;
  height: 49px;
  left: 0px;
  top: 0px;
  border-radius: 50px;
  /* background: #ffffff; */

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  /* margin: 0px 8px; */
}
.pic_wrapper {
  width: 20%;
}
.text_wrapper {
  width: 60%;
  text-align: left;
  color: white;
}
.icons_wrapper {
  width: 20%;
  font-size: 26px;
  color: white;
  display: contents;
}
.header_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.icons_wrapper button {
  border: none;
}
.settings_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  position: static;
  width: 40px;
  height: 40px;
  left: 312px;
  top: 0px;
  background: none;
  border-radius: 50px px;
  color: white;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 4px;
}
.text_wrapper p {
  margin-top: -4px;
  font-size: 12px;
}
.attachmentSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  /* position: static; */
  width: 420px;
  height: 90px;
  /* left: 0px; */
  /* top: 412px; */
  bottom: 64px;
  background: rgb(239 242 254);
  /* flex: none; */
  /* order: 2; */
  /* align-self: stretch; */
  flex-grow: 0;
  margin: 0px 0px;
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.attachmentSection button {
  font-size: 24px;
  border: none;
  background: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.settingDropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1px 0px;

  position: absolute;
  width: 280px;
  height: 213px;
  left: 60px;
  top: 60px;

  background: #ffffff;
  /* Med Shadow */

  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.settingDropdown {
  /* position: static; */
  /* font-family: "Helvetica Neue"; */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /* line-height: 16px; */
  letter-spacing: 0.5px;
  color: #000000;
  /* flex: none; */
  /* order: 1; */
  /* flex-grow: 0; */
  /* margin: 0px 8px;*/
}
.settingDropdown p {
  cursor: pointer;
}
.settingDropdown p:hover {
  background: rgba(230, 235, 253, 0.5);
  width: 100%;
}
.chatbot_align {
  position: fixed;
  right: 60px;
  bottom: -10px;
  border-radius: 5px;
  margin: 8px 0px;
  height: 0;
  box-shadow: rgb(0 0 0 / 40%) 0px 16px 20px 0px;
  background: rgba(239, 242, 254, 1);
  -moz-animation: slideUp 0.5s ease 0.25s forwards;
  -webkit-animation: slideUp 0.5s ease 0.25s forwards;
  -o-animation: slideUp 1s ease 0.25s forwards;
  -ms-animation: slideUp 1s ease 0.25s forwards;
  animation: slideUp 0.5s ease 0.25s forwards;
}
.botContent {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  padding: 12px;
  margin: 5px;
  box-shadow: 0 0 4px #ccc;
  border-radius: 8px 8px 8px 0px;
}
.botContent button {
  padding: 6px;
  height: 40px;
  background: #f9f9f9;
  border: 0.5px solid #416bff;
  margin: 5px 0px;
  border-radius: 5px;
  font-size: 11px;
}
.botContent button:hover {
  /* padding: 8px;
  height: 40px; */
  background: rgba(222, 228, 253, 0.75);
  /* border: 0.5px solid #416bff;
  margin: 5px 0px;
  border-radius: 5px; */
}
@keyframes slideUp {
  from {
    height: 0;
    bottom: -10px;
  }
  to {
    height: 600px;
    bottom: 30px;
  }
}
@-moz-keyframes slideUp /* Firefox */ {
  from {
    height: 0;
    bottom: -10px;
  }
  to {
    height: 600px;
    bottom: 30px;
  }
}

@-webkit-keyframes slideUp /* Safari and Chrome */ {
  from {
    height: 0;
    bottom: -10px;
  }
  to {
    height: 600px;
    bottom: 30px;
  }
}

@-ms-keyframes slideUp /* IE10 */ {
  from {
    height: 0;
    bottom: -10px;
  }
  to {
    height: 600px;
    bottom: 30px;
  }
}
.filepond--root .filepond--credits[style] {
  display: none;
}
.filepond--wrapper {
  width: 100%;
}
.attachmentSection-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  /* position: static; */
  width: 420px;
  height: 92px;
  /* left: 0px; */
  /* top: 412px; */
  bottom: 64px;
  background: rgb(239 242 254);
  /* flex: none; */
  /* order: 2; */
  /* align-self: stretch; */
  flex-grow: 0;
  margin: 0px 0px;
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;
}
.cancelMediaBtn {
  position: absolute;
  top: -1px;
  right: 24px;
  border: none;
  font-size: 18px;
  z-index: 9;
  background-color: none;
}

div#wave .dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 3px;
  background: #303131;
  animation: wave 1.3s linear infinite;
}
div#wave .dot:nth-child(1) {
  background-color: #001661;
}
div#wave .dot:nth-child(2) {
  animation-delay: -1.1s;
  background-color: #54dfff;
}
div#wave .dot:nth-child(3) {
  animation-delay: -0.9s;
  background-color: #fd7789;
}
div#wave .dot:nth-child(4) {
  animation-delay: -0.6s;
  background-color: #faba1e;
}
@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }
  30% {
    transform: translateY(-15px);
  }
}
