.inputWrapper {
  display: flex;
  padding: 0px;
  /* margin: 8px 0px; */
  width: 100%;
  align-items: center;
  height: 34px;
}
.product_required_mark {
  color: #ff0000;
  font-size: 16px;
  margin-left: 4px;
  font-weight: 600;
}
.labelWrap {
  padding: 12px 16px 12px 0px;
  width: 30% !important;
}
.labelWrap .label {
  width: 100% !important;
  font-family: "Poppins";
}
.labelWrap .select {
  width: 70% !important;
}

.input_disabled {
  padding: 12px 12px 12px 16px;
  background: #ffffff;
  border: 0.5px solid #b9b9b9;
  border-radius: 4px;
  margin: 0px 0 0 16px;
  width: 100%;

  position: relative;
}
.error {
  /* position: relative; */
  position: absolute;
  font-size: 12px;
  color: red;

  /* box-sizing: border-box; */
  /* width: 100%; */
  /* overflow: hidden; */
  /* margin-top: 0.5416666667em; */
  /* left: 50%; */
  /* top: calc(100% - 1.6666666667em); */
}
.error_wrapper {
  position: relative;
  top: -26px;
  left: 25%;
  display: none;
  /* text-align: right; */
}
.inputWrapper span {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

.inputWrapper input:invalid[focused="true"] {
  border: 1px solid red;
}

.inputWrapper input:invalid[focused="true"] ~ span {
  display: block;
  margin-left: 15px;
  line-height: 0px;
  position: relative;
  bottom: -6px;
}
.input_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}







/*			
Copyright (C) 2022 Eunimart Omnichannel Pvt Ltd. (www.eunimart.com)			
All rights reserved.			
This program is free software: you can redistribute it and/or modify			
it under the terms of the GNU General Public License as published by			
the Free Software Foundation, either version 3 of the License, or			
(at your option) any later version.			
This program is distributed in the hope that it will be useful,			
but WITHOUT ANY WARRANTY; without even the implied warranty of			
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the			
GNU General Public License for more details.			
You should have received a copy of the GNU General Public License			
along with this program. If not, see <http://www.gnu.org/licenses/>.			
*/